Repository VineeTagarwaL-code/v3cn-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

fix: fixed landing
  .husky/pre-push
  src/components/sidebar-wrapper.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat: improved readme
  LICENSE
  README.md
Due: prettier --write

feat: improved readme
  README.md
Due: prettier --write

feat: improved readme
  LICENSE
Due: none

feat: improved readme
  package.json
Due: prettier --write

feat: improved readme
  src/components/Card.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

update: removed tweetcard temporarily
  .husky/pre-commit
  README.md
  src/app/docs/introduction/page.tsx
  src/components/Card.tsx
  src/components/landing/hero.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

update: add tweetcard temporarily
  src/app/docs/introduction/page.tsx
  src/components/landing/hero.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: fixed wrapping ready to use code
  src/components/demo-ui/cursor/installation-tabs.tsx
  src/components/ui/code-snippet.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat:improved for light theme
  src/app/docs/components/card/page.tsx
  src/app/docs/components/discord/page.tsx
  src/app/docs/components/github-graph/page.tsx
  src/components/landing/HeroContent.tsx
  src/components/ui/package-manager-tabs.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fixed #17 added contribution guideliness
  README.md
Due: prettier --write

style: make scrollable cards sticky
  src/app/page.tsx
  src/components/landing/hero.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: github graph overflow
  src/app/docs/components/github-graph/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

update demo.tsx-image-path-fix
  src/components/demo-ui/card/demo.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: landing center text
  src/app/docs/page.tsx
  src/components/landing/hero.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

style: format code for consistency and readability
  src/components/demo-ui/card/demo.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: chopped image on phone mockup
  src/app/page.tsx
  src/components/landing/hero.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat: update ThemeProvider to adjust themes based on pathname
  src/components/provider.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat: CLI doc page added
  src/app/docs/cli/page.tsx
  src/components/command-menu.tsx
  src/components/sidebar-wrapper.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat: phone mockup updated
  public/image/phone.png
  src/components/ui/discord.tsx
  src/components/ui/github.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

Update HeroContent.tsx
  src/components/landing/HeroContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: correct bun command in package manager tabs
  src/components/ui/package-manager-tabs.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: adjust padding in hero component description
  src/components/landing/hero.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

[feat]: macbook-dock-navigation
  src/app/docs/components/dock-navigation/page.tsx
  src/components/DockNavigation.tsx
  src/components/demo-ui/dock-navigation/code.tsx
  src/components/demo-ui/dock-navigation/demo.tsx
  src/components/demo-ui/dock-navigation/installation-tabs.tsx
  src/components/demo-ui/dock-navigation/installation.tsx
  src/components/sidebar-wrapper.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat: shadcn registry support for github component added
  bun.lockb
  next.config.ts
  package.json
  public/r/github-graph.json
  public/r/hello.json
  registry.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

feat: shadcn registry support for discord component added
  public/r/discord-presence.json
  public/r/github-graph.json
  public/r/hello.json
Due: prettier --write

feat: shadcn registry support for cursor component added
  public/r/cursor.json
Due: prettier --write

feat: shadcn registry support for card component added
  public/r/3d-card.json
  src/components/ui/card.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

error resolve
  .gitignore
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat: shadcn registry support for demo of all components
  public/r/3d-card-demo.json
  public/r/cursor-demo.json
  public/r/discord-presence-demo.json
  public/r/github-graph-demo.json
  src/components/demo-ui/github-graph/code.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: fixed demo warnings
  public/r/3d-card-demo.json
  public/r/cursor-demo.json
  public/r/discord-presence-demo.json
  public/r/github-graph-demo.json
Due: prettier --write

error resolve
  src/components/demo-ui/dock-navigation/demo.tsx
  src/components/demo-ui/dock-navigation/installation.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

error resolve
  package-lock.json
  package.json
Due: prettier --write

fix: v0 support for github graph
  public/r/github-graph-demo.json
  public/r/github-graph.json
  registry.json
Due: prettier --write

fix: cursor component fixed
  public/r/cursor.json
Due: prettier --write

fix: discord component fixed for v0
  public/r/discord-presence.json
Due: prettier --write

fix: github component fixed for v0
  public/r/github-graph.json
Due: prettier --write

fix: github component fixed for installation
  src/components/demo-ui/github-graph/installation.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --cache --cache-location node_modules/.cache/.eslintcache

fix: cursor component fixed for installation
  public/r/3d-card-demo.json
  public/r/3d-card.json
  public/r/cursor.json
Due: prettier --write
